<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TW8035_C_SHARP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<userSettings>
        <TW8035_C_SHARP.Properties.Settings>
                <setting name="E_150" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_175" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_200" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_225" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_250" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_275" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_300" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_325" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="E_350" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="OFFSET" serializeAs="String">
                        <value>0</value>
                </setting>
        </TW8035_C_SHARP.Properties.Settings>
    </userSettings>
</configuration>